* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

main {
    position: relative;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: "Play";
}

.header {
    width: 100%;
    height: 700px;
}

.logo {
    display: flex;
    margin: 68px 5% 0;
}

.Group-10 {
    width: 200px;
    height: 60px;
    object-fit: contain;
}

.menu {
    width: 900px;
    height: 600px;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
}

.name {
    width: 100%;
    height: 100%;
    position: absolute;
}

.illustaration {
    width: 879px;
    height: 600px;
    position: absolute;
    background-image: url("../img/illustaration.svg");
}

.t1 {
    width: 400px;
    height: 600px;
    position: absolute;
    float: left;
}

.t2 {
    width: 400px;
    height: 600px;
    position: absolute;
    margin-left: 500px;
}

.one1 {
    text-decoration: none;
    color: gray;
}

a:hover {
    color: #3c00ff;
}

.one {
    position: absolute;
    top: 72px;
    padding-left: 30px;
    font-family: "Play";
    text-decoration: none;
}

.two {
    position: absolute;
    top: 220px;
    font-family: "Play";
    text-decoration: none;
}

.three {
    position: absolute;
    top: 375px;
    padding-left: 27px;
    font-family: "Play";
    text-decoration: none;
}

.four {
    position: absolute;
    top: 72px;
    padding-left: 270px;
    font-family: "Play";
    text-decoration: none;
}

.five {
    position: absolute;
    top: 220px;
    padding-left: 305px;
    font-family: "Play";
    text-decoration: none;
}

.six {
    position: absolute;
    top: 375px;
    padding-left: 290px;
    font-family: "Play";
    text-decoration: none;
}

.content {
    margin-top: 5%;
    clear: both
}

.group {
    width: 379px;
    height: 93px;
    object-fit: contain;
    background-image: url("../img/group.svg");
    margin: 2% 20%;
}

.xhipster-litvin {
    width: auto;
    height: auto;
    font-family: "Play";
    font-size: 16px lighter;
    font-weight: lighter;
    line-height: 44px;
    color: black;
    margin: 1% 20%;
    padding: 20px 0;
}

.xhipster-litvin .text-style-2 {
    color: #3c00ff;
    text-decoration: none;
}

.The-Idea-The-blockch {
    font-family: Play;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    color: #000000;
    margin-left: 186px;
    margin: 1% 20%;
}

h1 {
    font-size: 20px;
    font-weight: bold;
}

.sleshcolor {
    color: #5add47;
    font-size: 32px;
}

.disk {
    list-style-type: disc;
    padding: 0 30px;
}

.textblue {
    color: #3c00ff;
}

.textcript {
    color: #3c00ff;
    text-decoration: none;
}

.span1 {
    background-color: #EBEBEB;
}

.group2 {
    width: 134px;
    height: 36px;
    object-fit: contain;
    background-image: url("../img/text-icon.svg");
    margin: 10% 20% 0% 20%;
}

h2 {
    font-family: Play;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0c2eec;
    text: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.t3 {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: center;
    margin-left: 4%;
    margin-top: 0%;
}

.team {
    position: relative;
    padding-bottom: 50px;
}

.layer {
    width: 120px;
    height: 120px;
    object-fit: contain;
}

.container {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 31% 31% 31%;
    grid-gap: 50px;
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
}

.pm {
    display: block;
    width: 150px;
    display: flex;
    position: absolute;
    bottom: 0;
}

.pm2 {
    width: 150px;
    display: flex;
    margin-top: 5px;
    position: absolute;
    bottom: 0;
}

.linkteam {
    padding-top: 2px;
    padding-left: 10px;
}

a {
    color: #3c00ff;
    text-decoration: none;
}

.scrollup {
    width: 56px;
    height: 56px;
    opacity: 0.4;
    position: fixed;
    bottom: 50px;
    right: 100px;
    display: none;
    text-indent: -9999px;
    background: url(../img/arrow-up.svg) no-repeat;
}

.footer{
    width: 100%;
    height: 70px;
}

@media screen and (max-width:768px) {
    .content {
        font-size: 30px;
        float: left;
        margin-left: 13%;
    }
    .container {
        display: grid;
        grid-template-columns: 65% 65%;
        grid-template-rows: 20% 20% 20% 20%;
        grid-gap: 60px;
        margin-top: 50px;
        margin-left: -1%;
    }
    .team {
        position: relative;
        padding-bottom: 50px;
    }
    .The-Idea-The-blockch {
        width: 760px;
        font-size: 30px;
        color: #000000;
        margin: 2% 1%;
    }
    h1 {
        font-size: 40px;
    }
    .group {
        width: 379px;
        height: 93px;
        object-fit: contain;
        background-image: url("../img/group.svg");
        margin: 10% 1%;
    }
    .pm {
        display: block;
        width: 300px;
        display: flex;
        position: absolute;
        bottom: 0;
    }
    .pm2 {
        width: 150px;
        display: flex;
        margin-top: 5px;
        position: absolute;
        bottom: 0;
    }
    h2 {
        font-size: 40px;
    }
    .imgbatt {
        width: 35px;
        height: 35px;
        margin-top: 5px;
    }
    .name {
        width: 100%;
        height: 100%;
        position: absolute;
    }
    .xhipster-litvin {
        width: 100%;
        margin-left: 1%;
    }
    .illustaration {
        width: 610px;
        height: 655px;
        background-image: url("../img/illustaration1.svg");
        position: absolute;
        margin-left: 15%;
    }
    .group2 {
        width: 134px;
        height: 36px;
        object-fit: contain;
        margin-left: 1%;
    }
    .t1 {
        width: 25%;
        height: 28%;
        top: 25%;
        margin-left: 37%;
        font-size: 30px;
    }
    .t2 {
        width: 20%;
        height: 30%;
        top: 60%;
        margin-left: 37%;
        font-size: 30px;
    }
    .one {
        position: absolute;
        top: 0px;
        padding-left: 0px;
        font-family: "Play";
        text-decoration: none;
    }
    .two {
        position: absolute;
        top: 70px;
        font-family: "Play";
        text-decoration: none;
    }
    .three {
        position: absolute;
        top: 140px;
        padding-left: 0px;
        font-family: "Play";
        text-decoration: none;
    }
    .four {
        position: absolute;
        top: 0px;
        padding-left: 0px;
        font-family: "Play";
        text-decoration: none;
    }
    .five {
        position: absolute;
        top: 70px;
        padding-left: 0px;
        font-family: "Play";
        text-decoration: none;
    }
    .six {
        position: absolute;
        top: 140px;
        padding-left: 0px;
        font-family: "Play";
        text-decoration: none;
    }
    .sleshcolor {
        color: #5add47;
        font-size: 50px;
    }
    .layer {
        width: 120px;
        height: 120px;
        object-fit: contain;
    }
    .scrollup {
        width: 65px;
        height: 65px;
        opacity: 0.3;
        position: fixed;
        bottom: 10px;
        right: 10px;
        display: none;
        text-indent: -9999px;
        background: url(../img/arrow-up.svg) no-repeat;
    }
}